<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
   <link href="~/styles/BranchAdminStyle.css" rel="stylesheet" />
</head>
<body>
    <h1>Online Vehicle Registration</h1>
    <div class="div1">
        <img src="~/images/image2.jpg" class="img"/>
      
    </div>
    <div class="div2">
        @RenderBody()
    </div>
</body>
</html>
