<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    <link href="~/styles/CustomerStyle.css" rel="stylesheet" />
</head>
<body>
    <h1>Online Vehicle Registration</h1>
    <div class="div1">
        <img src="~/images/img1.jpg" class="img" />
    </div>
    <div class="div2">
        @RenderBody()
    </div>
</body>
</html>

