@{
    ViewBag.Title = "RejectLogin";
}

<h2>OOPS!!The admin has rejected your account request</h2>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.ActionLink("Homepage", "Login", "Login")</td>
        </tr>
    </table>
}


