
@{
    ViewBag.Title = "SuccessfulCustomer";
}

<h2>WELCOME</h2>

@using(Html.BeginForm("VehicleSearch","Login"))
{
    <tr>
        <td><input type="submit" value="VEHICLE SEARCH" /></td>
    </tr>



}

