
@{
    ViewBag.Title = "SuccessfulCustomer";
}

<h2>SuccessfulCustomer</h2>
<h3>Welcome @Session["username"]</h3>

SEARCH VEHICLES HERE!!

@using (Html.BeginForm("SuccessfulCustomer", "Login", FormMethod.Post))
{

    <table>
        <tr>
            <td><input type="submit" value="SEARCH" name="Submit" /></td>


            <td><input type="submit" value="STATUS" name="Submit" /></td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Homepage", "Login", "Login")</td>
        </tr>
    </table>

    if (ViewBag.msg != null)
    {
        <h3>@ViewBag.msg</h3>
    }


}


