<!DOCTYPE html>

<html>
<head>
    <link href="~/Styles/Customer.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
    <div class="div1">

        <img src="~/images/thankyou.jpg" class="img"/>

    </div>
    <div class="div2">
        @RenderBody()
    </div>

</body>
</html>